div.main {
    display: flex;
    flex-direction: row;
    background-color: #e0e5ff;
}

div.submission-container {
    margin-top: 10px;
    flex-grow: 1;
}

div.submission-container div {
    margin-top: 10px;
}

div#previous {
    flex-grow: .5;
    display: grid;
    grid-template-columns: 100px 100px;
}

div#previous div {
    margin-top: 10px;
}

.prev-title {
    grid-column: 1 / 3;
    grid-row: 1;
    font-size: 1.2em;
}

.prev-header {
    grid-row: 2;
    font-weight: bold;
}

.prev-entry {
    grid-row: 3;
}